/Build/Archives/
/Build/Reports/
/Build/Temporary/
/Configuration/Production/IncludeCachedConfigurations.php
/Configuration/PackageStates.php
Configuration/Development/Settings.yaml
Configuration/Production/Settings.yaml
Configuration/Settings.yaml
/Data/
/Packages/.Shortcuts/
/Tests/
/Web/_Resources/

## Some files and dirs
# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
sftp-config.json

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.project
.cache
.settings
*.sublime-project
*.sublime-workspace

# Folders to ignore
.idea

## Ignore node modules
*node_modules

