/Build/Archives/
/Build/Reports/
/Build/Temporary/
/Configuration/
/Data/
/Packages/Application/TYPO3.Jobqueue
/Packages/Application/TYPO3.SwiftMailer
/Packages/Framework/
/Packages/Libraries/
/Web/

/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/bin/
/.gitignore

## Some files and dirs
# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
sftp-config.json

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.project
.cache
.settings
*.sublime-project
*.sublime-workspace

# Folders to ignore
.idea

## Ignore node modules
*node_modules

